{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block links %}
    <link type="text/css" href="{% static 'main/css/bulletins.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'main/css/users_and_bulletins_main.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
    <div class="title">
        <h2> Бюллетени </h2>
        <a id="creation-link" href="{% url 'bulletin_create' %}"> Создать </a>
    </div>

    {% if not bulletins %}
        <div class="empty-content" >
            <img src="{% static 'main/images/empty_content.png' %}" alt="no-content">
            <h3> На данный момент нет созданных бюллетеней </h3>
        </div>
    {% endif %}

    {% for bulletin in bulletins %}
        <a id="link-to-instance" href="{{ bulletin.get_absolute_url }}">
            <div class="one-instance-card">

                <div class="card-main-info">
                    <h3> {{ bulletin.title }} </h3>
                </div>

                <div class="card-time">
                    <div> Создана: {{ bulletin.created_at }}</div>
                    <div> Обновлена: {{ bulletin.updated_at }}</div>
                </div>

            </div>
        </a>
    {% endfor %}
{% endblock content %}