<div class="modal fade" id="add_question_ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Создание вопросов</h3>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="alert alert-danger d-none" role="alert">
            </div>

            <div class="modal-body">

                <div class="one-form" question="0">
                    <form action="{% url 'add_question_ajax' %}" method="post" class="add-question-ajax-modal-form" style="margin-left: 10px; margin-right: 10px;">


                        {% for field in add_question_ajax %}
                            <div class="one-field">
                                {{ field.label }}:
                                {{ field }}
                            </div>
                        {% endfor %}


                        <button type="button" class="add-new-answer-btn" question="0"> Добавить ответ</button>

                        <div class="answers-input-container" style="display: flex; flex-direction: column;"></div>

                    </form>
                </div>


            </div>

            <button class="add-new-question-btn"> Добавить вопрос</button>

            <div class="alert alert-success d-none w-90" role="alert">
            </div>
            <div class="modal-footer">
                <button id="cancel-modal" type="button" data-bs-dismiss="modal">Отмена</button>
                <button id="send-data-modal" type="submit">
                    Создать
                </button>
            </div>

        </div>
    </div>
</div>