{% extends 'base.html' %}
{% load static %}

{% block title %}
    Вход в СЭГ
{% endblock %}

{% block links %}
    <link type="text/css" href="{% static 'main/css/reg_login_forms.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}

    <div class="container">

        <div class="title">
            <h2> Вход в СЭГ</h2>
        </div>


        {{ form.non_filed_errors }}
        <form method="post">
            {% csrf_token %}

            {% for field in form %}

                <div class="one-field">
                    {{ field.label }}:
                    {{ field }}
                    {# If field contains errors #}
                    {% if field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div style="display:flex; flex-direction: row; align-items: center; justify-content: flex-start; padding: 3px 5px 3px 5px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#b6272a" fill-rule="evenodd"
                                          d="M7.843 3.802C9.872 2.601 10.886 2 12 2c1.114 0 2.128.6 4.157 1.802l.686.406c2.029 1.202 3.043 1.803 3.6 2.792c.557.99.557 2.19.557 4.594v.812c0 2.403 0 3.605-.557 4.594c-.557.99-1.571 1.59-3.6 2.791l-.686.407C14.128 21.399 13.114 22 12 22c-1.114 0-2.128-.6-4.157-1.802l-.686-.407c-2.029-1.2-3.043-1.802-3.6-2.791C3 16.01 3 14.81 3 12.406v-.812C3 9.19 3 7.989 3.557 7c.557-.99 1.571-1.59 3.6-2.792zM13 16a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-1-9.75a.75.75 0 0 1 .75.75v6a.75.75 0 0 1-1.5 0V7a.75.75 0 0 1 .75-.75"
                                          clip-rule="evenodd"></path>
                                </svg>
                                {{ field.errors }}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
            <button id="send" type='submit'> Войти</button>
        </form>

        <div class="to-page">
        <a class="reg-link" href="{% url 'registration' %}"> Зарегистрироваться </a>
        </div>

    </div>
{% endblock %}

