{% extends 'base.html' %}
{% load static %}

{% block title %}
    Пользователи CЭГ
{% endblock title %}

{% block links %}
    <link type="text/css" href="{% static 'main/css/users.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'main/css/users_and_bulletins_main.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}

    <div class="title">
        <h2> Пользователи СЭГ </h2>
    </div>

      {% if not users %}
        <div class="empty-content" >
            <img src="{% static 'main/images/empty_content.png' %}" alt="no-content">
            <h3> На данный момент нет зарегистрированных пользователей </h3>
        </div>
    {% endif %}

    {% for user in users %}
        <a id="link-instance" href="{{ user.get_absolute_url }}">
            <div class="one-card">

                <div class="card-main-info">
                    <div class="user-img">
                        <img {% if user.profile_img %} src="{{ user.profile_img.url }}" {% else %}
                                                       src="{% static 'main/images/default_profile_img.png' %}" {% endif %}
                                                       alt="profile-img">
                    </div>

                    <h3> {{ user.first_name }} {{ user.father_name }} {{ user.last_name }} </h3>
                </div>

                <div class="card-time">
                    {{ user.date_joined }}
                </div>

            </div>
        </a>
    {% endfor %}
{% endblock content %}