.super-container {

    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
}

.super-container form .one-field {
    margin-bottom: 15px;
}

.one-field input {
    height: 40px;
    border-radius: 10px;
}

.one-field select {
    height: 40px;
    border-radius: 10px;
}

button.add-new-question-btn {
    background-color: black;
    border: none;
    padding: 10px 15px 10px 15px;
    color: white;
    border-radius: 15px;
    width: fit-content;
    margin: 15px auto 15px auto;
}

button.add-new-answer-btn {
    background-color: black;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);


}

button.add-new-question-btn:hover, button.add-new-answer-btn:hover {
    background-color: var(--hovered-links);
    transition: 0.3s ease;
}

form textarea {
    resize: none;
}

div.answers-input-container {
    max-height: 467px;
    overflow-y: auto;
}

div.modal-body {
    max-height: 750px;
    overflow-y: auto;
}

div.modal-body > div.one-form {
    padding: 15px 10px 15px 10px;
    border-bottom: 2px solid black;
}

div.modal-body > div.one-form > form div, button {
    margin-left: 10px;
    margin-right: 10px;
}
#modal-question-add {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    border-radius: 15px;
}

#modal-question-add:hover {
    background-color: var(--hovered-links);
    transition: 0.3s ease;
}


#send {
    width: 70%;
    margin: 20px 15% 20px 15%;
    height: 40px;


    background: green;
    border-radius: 15px;
    border: none;
    color: white;
}

#id_questions > div > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.multiple-choices-field .choices-label {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}


#id_questions > div > label > input {
    margin-right: 15px;
    height: 20px;
    width: 20px;
}

form input[type="checkbox"]:checked {
    color: white;
}

#send-data-modal {
    border: none;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

#send-data-modal:disabled {
    background-color: rgba(0, 128, 0, 0.62);
    color: rgba(255, 255, 255, 0.52);
}

#send-data-modal:active {
    background-color: green;
    color: white;
}

#cancel-modal {
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    color: black;
    border: none;
}

#cancel-modal:hover {
    background-color: var(--cancel-btn-color);
    transition: 0.3s ease;

}