.one-instance-card .card-main-info {
    display: flex;
    align-items: center;
}

.one-instance-card img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 0 5px 5px gray;
}