.super-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}

.empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-content img {
    max-width: 512px;
    max-height: 512px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
}

.one-instance-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid black;*/
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#link-to-instance {
    text-decoration: none;
    color: black;
}

.one-instance-card:hover {
    background-color: var(--hovered-links);
    transition: 0.3s ease;
    border: none;
    color: white;

    img {
         box-shadow: none;
    }
}

#creation-link {
    margin-left: 20px;
    background-color: #212121;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

#creation-link:hover {
    background-color: var(--hovered-links);
    transition: 0.3s ease;
}
