{% extends 'base.html' %}
{% load static %}

{% block title %}
Start Page
{% endblock %}

{% block links %}
<link type="text/css" href="{% static 'main/css/start_page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
  <h2>Войти как:</h2>
  <div class="right-part">
    <ul>
      <li>
        <a href="{% url 'users:sign_in' %}">Пользователь</a>
      </li>
      <li>
        <a href="{% url 'users:anonym_connection' %}">Анонимный участник</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}