.container a {
    text-decoration: none;
    color: black !important;
    font-size: 24px;
}

.container a:hover {
    color: var(--hovered-links) !important;
    text-decoration: underline;
    transition: 0.3s ease;
}

.container ul {
    list-style: none;
}
.container ul li:before {
    content: '\2022'; /* Юникодный символ для круглой точки (•) */
    margin-right: 0.5em; /* Отступ от маркера до текста элемента списка */
    font-size: 30px; /* Размер маркера */
  }