{% extends 'base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block links %}
    <link type="text/css" href="{% static 'main/css/bulletins/bulletin_creation.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}

    <div class="title">
        <h2> {{ second_title }} </h2>
    </div>

     {% if form.non_field_errors %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ form.non_field_errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

    <form method="post" id="bulletin-form">
        {% csrf_token %}


        {% for field in form %}

            <div class="one-field">
                {{ field.label }}:
                {{ field }}

                <!-- Block for errors in fields-->
                {% if field.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ field.errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div style="margin-bottom: 15px; padding-top: 10px;">
            <a href="#" class="link-as-btn" style="" id="modal-question-add" data-bs-toggle="modal"
               data-bs-target="#add_question_ajax">
                Добавить вопрос
            </a>
        </div>

        <!-- Use the tag to get questions with their answers as input html checkboxes -->
        {% if method == 'update_delete' %}
            <div style="padding-top: 10px; margin-bottom: 10px; border-bottom: 3px solid black;">
                <h3> Назначенные вопросы: </h3>
            </div>
            {% questions_with_bulletin got_id=bulletin_id %}
            <div style="padding-top: 10px; margin-bottom: 10px; border-bottom: 3px solid black;">
                <h3> Еще не назначенные вопросы (назначаются автоматически): </h3>
            </div>
            {% questions_without_bulletin %}
        {% else %}
            {% questions_without_bulletin %}
        {% endif %}

    </form>


    {% if method == 'update_delete' %}
        <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
            <button class="send-form-btn" type="submit" form="bulletin-form" name="confirm_update"
                    value="confirm_update"> Сохранить
            </button>
            <button class="btn-delete" type="submit" form="bulletin-form" name="confirm_delete" value="confirm_delete">
                Удалить
            </button>
        </div>

    {% else %}
        <button class="send-form-btn btn-center" type='submit' form="bulletin-form"> Создать</button>
    {% endif %}




    {% include 'include/modals/modal_create_question.html' %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'main/js/modals.js' %}"></script>
{% endblock scripts %}