{% extends 'base.html' %}
{% load static %}

{% block title %}
    Голосования
{% endblock title %}

{% block links %}
    <link type="text/css" href="{% static 'main/css/for_list_pages.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
    <div class="title">
        <h2> Голосования </h2>
        {% if request.user.is_staff %} <a class="link-as-btn" href="{% url 'voting-create' %}"> Создать </a> {% endif %}
        <div class="control-panel">
            <svg class="svg-as-btn-normal" id="make-list-view" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                 viewBox="0 0 256 256">
                <path fill="black"
                      d="M208 32H48a16 16 0 0 0-16 16v160a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16m-16 152H64a8 8 0 0 1 0-16h128a8 8 0 0 1 0 16m0-48H64a8 8 0 0 1 0-16h128a8 8 0 0 1 0 16m0-48H64a8 8 0 0 1 0-16h128a8 8 0 0 1 0 16"></path>
            </svg>
            <svg class="svg-as-btn-normal" id="make-card-view" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                 viewBox="0 0 24 24">
                <path fill="black"
                      d="M6 11.5V6h5.5v5.5zM6 18v-5.5h5.5V18zm6.5-6.5V6H18v5.5zm0 6.5v-5.5H18V18zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm0-2h14V5H5z"></path>
            </svg>
        </div>
    </div>
    
    <div class="sort-and-filter-panels">
        
    </div>

    {% if not voting %}
        <div class="empty-content">
            <img src="{% static 'main/images/empty_content.png' %}" alt="no-content">
            <h3> На данный момент нет созданных голосований </h3>
        </div>
    {% endif %}

    <div class="votes-container-classic" id="votes-container">
        {% for vote in voting %}
            <div class="one-instance-card">
                <div class="main-info">
                    <h5>
                        {% if user.is_staff and vote.status != 'active' and vote.status != 'finished' %}
                            <a class="link-to-instance" href="{{ vote.get_absolute_url }}">{{ vote.title }}</a>
                        {% else %}
                            {{ vote.title }}
                        {% endif %}
                    </h5>
                    <p>Описание: <span class="span-italic"
                                              style="font-style: italic;"> {{ vote.description|default:'Отсутствует' }} </span>
                    </p>
                    <p>Тип: <span class="span-italic"> {% if vote.is_open %} Открытое {% else %}
                        Закрытое {% endif %} </span></p>
                    <div class="vote-status">
                        {% if vote.status == 'active' %}
                            <span class="active-status"> Активно </span>
                        {% elif vote.status == 'nonactive' %}
                            <span class="nonactive-status"> Неактивно </span>
                        {% else %}
                            <a class="link-as-btn" href="{% url 'voting-result' url=vote.url %}"
                               style="width: 120px; font-weight: bold;" title="Просмотр результатов"> Завершено </a>
                        {% endif %}
                    </div>


                    
                    <div class="card-time">
                        <div> Создано: {{ vote.created_at }}</div>
                        <div> Обновлено: {{ vote.updated_at }}</div>
                    </div>
                </div>
            
            
                <!-- Link to go into the page with active voting -->
                <a class="link-as-btn" href="{% url 'active-voting' url=vote.url %}">
                    {% if user.is_staff %} Начать {% else %} Подключиться {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'main/js/voting_list.js' %}"></script>
{% endblock scripts %}